@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
    background-color: $main-bg-color;
    color: $accent-black;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.main-app-container {
    padding-top: 2em;
}

.main-app-nav {
    font-size: 2em;
    text-align: center;
}

.counter-num-label {
    color: $accent-orange;
    padding-top: 1em;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.counter-even-label {
    padding-top: 1em;
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.counter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;

    button {
        background-color: #CCC;
        border: none;
        height: 30px;
        width: 80px;
        margin-left: 1em;
        margin-right: 1em;

        &:hover {
            background-color: $accent-gray;
        }
    }
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 10em;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $accent-blue;
        }
    }

    #heart {
        color: $accent-red;
    }
}

.shifting {


    a {
        text-align: center;
    }

    .bottom {
        display: inline-block;
        width: 4em;
        height: 4em;
        border: 0.5em solid #333;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bottom::after {
        content: '';
        display: inline-block;
        margin-top: 0.6em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.5em solid #333;
        border-right: 0.5em solid #333;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .right {
        display: inline-block;
        width: 4em;
        height: 4em;
        border: 0.5em solid #333;
        border-radius: 50%;
    }

    .right:after {
        content: '';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: -0.6em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.5em solid #333;
        border-right: 0.5em solid #333;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .left {
        display: inline-block;
        width: 4em;
        height: 4em;
        border: 0.5em solid #333;
        border-radius: 50%;
    }

    .left:after {
        content: '';
        display: inline-block;
        margin-top: 1.05em;
        margin-left: 0.6em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.5em solid #333;
        border-right: 0.5em solid #333;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .top {
        display: inline-block;
        width: 4em;
        height: 4em;
        border: 0.5em solid #333;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .top:after {
        content: '';
        display: inline-block;
        margin-top: 1.4em;
        width: 1.4em;
        height: 1.4em;
        border-top: 0.5em solid #333;
        border-right: 0.5em solid #333;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
